@{
    ViewData["Title"] = "Index";
}

<div class="container text-center">
    
    
    <img src="~/img/cint.ia.png" class="img-fluid" width="100" height="auto" />
</div>

<h1 class="text-center mt-3">Olá Usuario</h1>

<div class="container border-info">

</div>
<div class="container border-danger">
    <input type="text" />
    <button class="btn btn-info">Enviar</button>
</div>
